body {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

textarea{
    display: block;
    margin:auto;
}

.kotak-input{
    display: block;
    resize: none;
}

p > span {
    color: coral;
    font-weight: bold;
}

.grup-tg{
    margin: 5px;
}

button {
    padding: 5px;
    border: none;
}
.mode-gelap {
    background-color: #171b25;
    color: #EBECF7;
}

.mode-gelap .kotak-input {
    background-color: #2e3443;
    color: #EBECF7;    
}

.mode-gelap  button {
    background-color: #29ddcc;
    
}

.mode-sopia {
    background-color:#F4ECD8;
    color: #5B4636;
}

.mode-sopia  button {
    background-color: #29ddcc;
}   


